@inherits LayoutComponentBase

<NavMenu />



<main role="main" class="container">

    @Body

    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; @DateTime.Now.Year Cars Unlimited, Ltd. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</main><!-- /.container -->

<Session />