@page "/cars"

@using CarsUnlimited.Web.Components
@using CarsUnlimited.InventoryShared.Entities
@using CarsUnlimited.Web.Data
@inject InventoryService InventoryService

<h3>Cars</h3>

<div class="row">
    @if (cars == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        if (cars.Any())
        {
            foreach (var car in cars)
            {
                <InventoryItem CarItem="@car"></InventoryItem>
            }
        }
        else
        {
            <p><em>All cars sold out!</em></p>
        }
    }

</div>

@code {
    private List<CarItem> cars;

    protected override async Task OnInitializedAsync()
    {
        cars = await InventoryService.GetInventoryAsync();
    }
}
