@page "/"

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://raw.githubusercontent.com/MMTDigital/CarsUnlimited/master/CarStoreWeb/wwwroot/images/banner1.png" alt="Tesla CyberTruck" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <h5>CyberTruck</h5>
                <p>
                    Discover the exciting new CyberTruck! Order today!
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/banner2.jpg" alt="Ferrari Roma" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <h5>Roma</h5>
                <p>
                    Find your perfect match
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/banner3.jpg" alt="BMW M8" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <h5>BMW M8 Gran Coupe</h5>
                <p>
                    More cars available than any other retailer
                </p>
            </div>
        </div>
    </div>
</div>